# Synteny analysis of Bryum's largest scaffold with most number of genes with closely related moss genomes such as Ceratodon purpureus and Physcomitrium patens

##############################
### Synteny with P. patens ###
##############################

<<include etc/colors_fonts_patterns.conf>>

karyotype   = /scratch/apruthi/braker_again/circos/physco/physco_769.bed

chromosomes_units = 1000000
chromosomes       = pp1;pp2;pp3;pp4;pp5;pp6;pp7;pp8;pp9;pp10;pp11;pp12;pp13;pp14;pp15;pp16;pp17;pp18;pp19;pp20;pp21;pp22;pp23;pp24;pp25;pp26;pp27;ba1
chromosomes_display_default = no

<ideogram>

<spacing>

default = 0.01u
break   = 0.5r

</spacing>

radius           = 0.90r
thickness        = 100p
fill             = yes
fill_color       = black
stroke_thickness = 2
stroke_color     = black

show_label       = yes
label_font       = bold
label_radius     = dims(ideogram,radius) + 0.075r
label_with_tag   = yes
label_size       = 36
label_parallel   = yes
label_case       = lower
label_format     = eval(sprintf("chr%s",var(label)))


show_bands            = yes
fill_bands            = yes
band_stroke_thickness = 2
band_stroke_color     = white
band_transparency     = 0

show_ticks          = yes
show_tick_labels    = yes

<ticks>

radius           = dims(ideogram,radius_outer)
orientation      = out
label_multiplier = 1e-6
color            = black
size             = 20p
thickness        = 10p
label_offset     = 5p

<tick>
spacing        = 1u
show_label     = no
</tick>

<tick>
spacing        = 5u
show_label     = yes
label_size     = 20p
format         = %d
</tick>

<tick>
spacing        = 10u
show_label     = yes
label_size     = 24p
format         = %d
</tick>

</ticks>

</ideogram>

<image>
<<include etc/image.conf>>
</image>


<links>

<link>
file          = /scratch/apruthi/braker_again/circos/physco/bryum_769_physco.lst
radius        = 0.95r
color         = black_a4

# Curves look best when this value is small (e.g. 0.1r or 0r)
bezier_radius = 0.1r
thickness     = 5

# Limit how many links to read from file and draw
record_limit  = 2000

</link>

</links>

<<include etc/housekeeping.conf>>

#### THE END ####
